.icon {
    display: inline-block;
    fill: #fff;
    height: 1.7142857143rem;
    vertical-align: middle;
}
.btn {
    border: none;
    color: #fff;
    background-color: #3c9700;
    min-width: 30px;
    width: 30px;
    cursor: pointer;
    padding: 0;
}
.btnLeft {
    border-radius: 5px 0 0 5px;
}
.btnRight {
    border-radius: 0 5px 5px 0;
}
