.counter {
  --buttonColor: #ff0000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 90px;
  height: 36px;
}
.counterInput {
  background-color: transparent;
  width: 30px;
  padding: 0;
  text-align: center;
  border-radius: 0;
  border: none;
}

.icon {
  display: inline-block;
  fill: #fff;
  height: 1.7142857143rem;
  vertical-align: middle;
}
.btn {
  border: none;
  color: #fff; 
  /* this sees the variable scope from the parent counter */
  background-color: var(--buttonColor); 
  min-width: 30px;
  width: 30px;
  cursor: pointer;
  padding: 0;
}
.btnLeft {
  border-radius: 5px 0 0 5px;
}
.btnRight {
  border-radius: 0 5px 5px 0;
}
